@font-face{
    src: url(NowayRound-Regular.otf);
    font-family: noway;
}
p
{   
    
    color:black;
   
    text-align: left;
    font-size: 28px;
    
    
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -10px;}
  
  /* Clear floats after the columns */
  .row{
      display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
.container1
{
    background-color: rgb(231, 228, 228);
    height:400px;
    width:300px;
   
    border-radius: 12px;
    left:0;
    top:0px;
    bottom:0;
    right:0;
    -webkit-perspective:800;
}
.card
{
   
    height:100%;
    width:100%;
    transform-style:preserve-3d;
    position:relative;
    transition:all 2s ease;
    -webkit-transform-style: preserve-3d;
    border-radius: 15px;
}
.front img{
    margin-left: 46px;
    width:66%;
}
.card:hover
{
transform:rotateY(180deg);
}
.back
{
    height:400px;
    width:300px;
    margin-top: 220px;
   
    bottom:403px;
    
    position:relative;
     transform:rotateY(180deg);

}
.front,.back{
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
}
.about
{
color: royalblue;
font-family: noway;

font-style: normal;
margin:100px;
}
.fa
{
  margin-left:95px;
 font-size: large;
 font-family:noway;
  
}
